body {
    background-color: #0a0f1e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.fish-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    justify-content: center;
}

.fish-item {
    background-color: #12192b;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
}

.fish-item:hover {
    transform: scale(1.05);
}

.fish-item img {
    width: 100%;
    height: 120px; /* Ajuste del tamaño de la imagen */
    object-fit: contain; /* Para que la imagen se vea entera */
    border-bottom: 3px solid #0077ff;
}

.fish-item h2 {
    font-size: 1rem;
    margin: 5px 0;
    color: white;
}
