@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* Título */
#fish-title, #fish-info-title{
    font-size: 2rem;
    color: steelblue;
    text-align: center;
    margin: 20px 0;
}

/* Contenedor principal */
#container {
    display: flex;
    height: 90vh;
    width: 100%;
}



/* Grid para los peces */
.fish-grid {
    display: flex;
    flex-wrap: wrap; /* Organiza en filas */
    justify-content: center; /* Centra las filas */
    gap: 20px; /* Espacio entre los peces */
    width: 100%;
}

/* Tarjetas de peces */
.fish-item {
    background-color: #cfdae3;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
    width: 14em; /* Tamaño fijo para consistencia */
    padding-bottom: 1em;
}


.fish-item:hover {
    transform: scale(1.05);
}

/* Imágenes */
.fish-item img {
    width: 100%;
    height: 80%; /* Muestra la imagen completa */
    object-fit: cover; /* Asegura que la imagen no se recorte */
    border-bottom: 3px solid steelblue;
}

.fish-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 21%;
}

/* Nombres de peces */
.fish-item h2 {
    font-size: 1rem;
    color: steelblue;
}

#zone-name {
    color: steelblue;
    font-size: 1.5rem;
}

/* Media queries para responsividad */
/*
@media (max-width: 1024px) {
    .fish-item {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .fish-item {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .fish-item {
        width: 120px;
    }
    h1 {
        font-size: 1.5rem;
    }
}
*/