#carrusel-container{

    /* Contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    overflow: hidden;
}

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#widget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

#image {
    width: 100%;
    border-radius: 10px;
    max-width: 70%;
    box-shadow: 0px 1px 80px 5px #4c5763;
}

.points {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.points p {
    font-size: 2rem;
    margin: 0;
}
.bold {
    font-weight: bold;
    color: black;
}


#carrusel-container{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../Videos/background-carrusel.png');
    background-size: cover;
    margin-top: 10em;
}


#carrusel-container {
    position: relative;
    margin-top: 10em;
    z-index: 2;
}

.slide {
    width: 90%;
    height: 20em;
    background-size: cover;
    background-position: center;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    backdrop-filter: brightness(0.8);
}
