*{
    margin: 0;
    padding: 0;
}

#wrapper-mainWeather {
    position: relative;
    /*width: 70%;*/
    /*min-width: 26rem;*/
    width: 90%;
    height: 100%;
    /*border-radius: 10px;*/
    overflow: hidden;
}

.weatherVideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
}

#background-video {
    /*position: absolute;
    object-fit: cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
}

#main-container {
    position: relative;
    padding: 1.8rem;
    height: auto;
    /*background: linear-gradient(180deg, lightskyblue, powderblue);*/
    font-family: Arial, sans-serif;
    text-align: start;
    background: transparent;
    z-index: 1;

}

#place-text {
    padding: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: black;
}

#temp-container {
    margin: 0 0 2em 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    text-align: center;

    border-radius: 8px;
    /*hacer el fondo glassmorphism*/
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
}

#temperature {
    display: flex;
    align-items: center;
}

#weather-principal-icon {
    width: 6em;
}

.temp-text {
    font-size: 3em;
}

.info-text {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.information {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.box-text {
    font-size: 0.85em;
}

.group-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day-week {
    font-size: 1.1em;
}

.weather-icon {
    width: 4em;
}

.temp-day {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.688rem;
}

.grid-item {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 1rem 0.5rem;

    /*hacer el fondo glassmorphism*/
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
}

/*movimiento en horizontal*/
.weather-forecast {
    overflow-x: auto;
    scrollbar-width: none;
}

.weather-forecast:hover, .forecast-table-hour:hover {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent; /* thumb color, track color */
}

.section3 {
    margin-top: 2rem;
}

.forecast-table-hour {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-x: auto;
    scrollbar-width: none;

    /*hacer el fondo glassmorphism*/
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
}

.buttonDay {
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
}

h2 {
    display: inline-block;
    padding: 0.313em 0.625em;
    border-radius: 5px;
}

h3 {
    display: inline-block;
    padding: 0.313em 0.625em;
    border-radius: 5px;
}

#weather-table {
    width: 100%;
    border-collapse: separate;
    margin-top: 1.25em;
}

th, td {
    text-align: center;
    padding: 0.625em;
    font-size: 0.9em;
    color: #333;
}

th {
    font-weight: normal;
    color: #666;
}

td {
    border-top: 1px solid #eee;
}

tr:nth-child(3) td {
    font-size: 0.8em;
    color: #666;
}

#container-last-updated {
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

#last-updated {
    font-size: 0.8em;
}

.buttonDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
}

#last-updated {
    color: whitesmoke;
}