#side-menu {
    height: 100vh;
    padding: 10px;

    /* From https://css.glass */
    background: rgba(56, 99, 174, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
}

#side-menu ul {
    list-style: none;
    padding: 0;

}

#side-menu li {
    margin: 10px 0;
}

#side-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

a:hover {
    background-color: #cce5ff;
    color: black;
}