@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#layout {
    display: flex;
    width: 100%;
}

#content {
    flex: 1;
    padding: 1em;
    margin-top: 5.5rem;
    width: calc(100% - 12rem);
}


#sidebar {
    width: 12rem;
    padding: 1em;
    background: steelblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sidebar-nav {
    margin-top: 6rem;
    position: fixed;
    width: 10rem;
}


.nav-a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.nav-a:hover,
.nav-a.active {
    color: #54dbea;
}

.section-info {
    min-height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f6fb;
    /*font-weight: 700;
    width: 100%;
    max-width: 100%;*/
    overflow-x: hidden;
    padding: 1rem;
    box-sizing: border-box;
}
.section-info:nth-child(odd) {
    background: #323946;
}


/*Ajuste de main weather*/
#wrapper-mainWeather {
    container-type: inline-size; /* o size, si también quieres altura */
    container-name: mainWeather;
}

@container mainWeather (max-width: 1216px) {
    /* Hacemos la grid scrollable cuando el tamaño del contenedor es menor a 1025px */
    .grid-container-7 {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(120px, 1fr);
        grid-gap: 0.688em;
    }

}

/*temperatura por hora*/
@container mainWeather (max-width: 1216px) {
    .forecast-table-hour {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}

#weather, #services {
    background: #f3f6fb;
}

#swell, #tide, #fish, #gallery, #tabla-container  {
    display: flex;
    flex-direction: column;
    background: #f3f6fb;
}

