@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

ul#hoursList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}


ul#hoursList li {
    list-style: none;
    text-align: center;
}


ul#hoursList li button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


ul#hoursList li button:hover {
    background-color: #0056b3;
}

.wave-info h3 {
    margin-bottom: 10px;
}

.wave-box {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.wellPhoto{
    width: 10em;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.wellInfoBox{
    margin: auto;
}


.swellBody {
    font-family: 'Poppins', sans-serif;
    background: #f3f6fb;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.weather-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}

.card {
    place-items: center;
    display: grid;
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    /*
    background: #eaf0fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainBody {
    grid-column: span 1;
    grid-row: span 2;
    font-size: 1.2rem;
}

.sunrise .sun-path {
    width: 100%;
    height: 100px;
    background: radial-gradient(circle at bottom, orange 50%, transparent 50%);
    border-bottom: 3px solid #ffa500;
    border-radius: 0 0 100% 100%;
    margin-bottom: 0.5rem;
}


.fontStyle{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #0077b6;
}
.titleStyle{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #0077b6;
    font-weight: 600;
}


#hoursCarrusel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoursCarrusel-button {
    background-color: steelblue;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 0.3rem 0.6rem;
}

.hoursCarrusel-button:hover {
    background-color:  #35648c;
}

.hour-nav {
    background-color: #aed4ff;
    border-radius: 10px;
    padding: 0 0.8rem;
    margin: 0 0.8rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.hours-container {
    margin: 1rem 0;
    padding: 1.2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #666666;
    color: black;
}

.hour {
    padding: 0.5em 0.5em;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hour.active {
    background-color: #408fd3;
    color: whitesmoke;
    font-weight: bold;
}

.hour:hover {
    background-color: #e0e0e0;
}