.hours-container {
    margin: 20px auto;
    border: 2px solid #007bff;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

ul#hoursList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}


ul#hoursList li {
    list-style: none;
    text-align: center;
}


ul#hoursList li button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


ul#hoursList li button:hover {
    background-color: #0056b3;
}

.wave-info h3 {
    margin-bottom: 10px;
}

.wave-box {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.wellPhoto{
    width: 10em;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.wellInfoBox{
    margin: auto;
}





.swellBody {
    font-family: 'Segoe UI', sans-serif;
    background: #f3f6fb;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.weather-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 900px;
    width: 100%;
}

.card {
    place-items: center;
    display: grid;
    background: #eaf0fb;
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.mainBody {
    grid-column: span 1;
    grid-row: span 2;
    font-size: 1.2rem;
}

.sunrise .sun-path {
    width: 100%;
    height: 100px;
    background: radial-gradient(circle at bottom, orange 50%, transparent 50%);
    border-bottom: 3px solid #ffa500;
    border-radius: 0 0 100% 100%;
    margin-bottom: 0.5rem;
}





.hour-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    padding: 15px 30px;
    max-width: 400px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.hour-nav button {
    background-color: steelblue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hour-nav button:hover {
    background: #023e8a;
    transform: scale(1.1);
}

.hour-nav #horaActual {
    font-weight: bold;
    font-size: 24px;
    min-width: 80px;
    text-align: center;
}

.fontStyle{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #0077b6;
}
.titleStyle{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #0077b6;
    font-weight: 600;
}
