@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

canvas {
    width: 80%; !important;
    height: 400px; !important;
    margin: 20px auto;
    display: block;
}
.btn-container {
    text-align: center;
    margin-top: 20px;
}
button {
    margin: 5px;
    padding: 10px;
    background-color: #57B4BA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #205781;
}

#waveBody{
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
}
.icons{
    width: 100px;
    padding: 10px;
}
.waveCard{
    grid-auto-flow: column;
    place-items: center;
    display: grid;
    /*
    background: #eaf0fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    */
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    background: #eef7ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.gap{
    padding: 2rem;
}