<link rel="stylesheet" href="../styles/ToolbarStyle.css">

<div id="toolbar">
    <hr>
    <img src="../images/burgerbar.png" id="toolbar-toggle" onclick="toggleToolbar()">
    <hr>
    <div id="toolbar-content">
        <img src="../images/location.png" class="toolbar-icon">
        <img src="../images/fav.png" class="toolbar-icon">
        <img src="../images/distance.png" class="toolbar-icon">
        <img src="../images/zone.png" class="toolbar-icon">
        <img src="../images/beach.png" class="toolbar-icon">
        <img src="../images/sateliteview.png" class="toolbar-icon">
        <img src="../images/streetview.png" class="toolbar-icon">
    </div>
</div>

<script src="../js/ToolbarToggle.js"></script>
